USE [QLSB]
GO

/****** Object:  User [12345678]    Script Date: 06/06/2023 4:31:23 CH ******/
CREATE USER [12345678] FOR LOGIN [chu] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [23456789]    Script Date: 06/06/2023 4:31:23 CH ******/
CREATE USER [23456789] FOR LOGIN [pc] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [34567890]    Script Date: 06/06/2023 4:31:23 CH ******/
CREATE USER [34567890] FOR LOGIN [nv] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [CHUMAYBAY]    Script Date: 06/06/2023 4 :31:23 CH ******/
CREATE ROLE [CHUMAYBAY]
GO
/****** Object:  DatabaseRole [NHANVIEN]    Script Date: 06/06/2023 4:31:23 CH ******/
CREATE ROLE [NHANVIEN]
GO
/****** Object:  DatabaseRole [PHICONG]    Script Date: 06/06/2023 4:31:23 CH ******/
CREATE ROLE [PHICONG]
GO

ALTER ROLE [CHUMAYBAY] ADD MEMBER [12345678]
GO
ALTER ROLE [db_owner] ADD MEMBER [12345678]
GO
ALTER ROLE [PHICONG] ADD MEMBER [23456789]
GO
ALTER ROLE [db_datareader] ADD MEMBER [23456789]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [34567890]
GO
ALTER ROLE [db_datareader] ADD MEMBER [34567890]
GO
ALTER ROLE [db_owner] ADD MEMBER [CHUMAYBAY]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NHANVIEN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [PHICONG]
GO



/****** Object:  Table [dbo].[BAOTRI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOTRI](
	[MADANGKY] [int] NOT NULL,
	[MADICHVU] [int] NOT NULL,
	[NGAY] [date] NOT NULL,
	[SOGIO] [int] NOT NULL,
	[NOIDUNG] [nvarchar](255) NULL,
 CONSTRAINT [PK_BAOTRI_1] PRIMARY KEY CLUSTERED 
(
	[MADANGKY] ASC,
	[MADICHVU] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[CHU]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CMND] [nchar](15) NULL,
	[MADOANHNGHIEP] [nchar](15) NULL,
 CONSTRAINT [PK_CHU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[CHUYENVE]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENVE](
	[CMND] [nchar](15) NOT NULL,
	[MALOAI] [int] NOT NULL,
 CONSTRAINT [PK_CHUYENVE] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[CTNHANVIENBAOTRI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTNHANVIENBAOTRI](
	[CMND] [nchar](15) NOT NULL,
	[MADANGKY] [int] NOT NULL,
	[MADICHVU] [int] NOT NULL,
	[NGAY] [date] NOT NULL,
 CONSTRAINT [PK_CTNHANVIENBAOTRI] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC,
	[MADANGKY] ASC,
	[MADICHVU] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DICHVUBAOTRI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVUBAOTRI](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[TENDICHVU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DICHVUBAOTRI] PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[DOANHNGHIEP]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHNGHIEP](
	[MA] [nchar](15) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](255) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[TENDAIDIEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DOANHNGHIEP] PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LAI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAI](
	[CMND] [nchar](15) NOT NULL,
	[MALOAI] [int] NOT NULL,
 CONSTRAINT [PK_LAI] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LOAI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](100) NOT NULL,
	[KIEUDANG] [nvarchar](50) NOT NULL,
	[SUCCHUA] [int] NOT NULL,
	[TRONGLUONG] [int] NOT NULL,
 CONSTRAINT [PK_LOAI] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[MAYBAY]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAYBAY](
	[MADANGKY] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[MALOAI] [int] NOT NULL,
	[MANHA] [int] NOT NULL,
 CONSTRAINT [PK_MAYBAY] PRIMARY KEY CLUSTERED 
(
	[MADANGKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[NGUOI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI](
	[CMND] [nchar](15) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](255) NOT NULL,
	[SDT] [nchar](15) NOT NULL,
	[ISPHICONG] [bit] NOT NULL,
	[ISNHANVIEN] [bit] NOT NULL,
 CONSTRAINT [PK_NGUOI] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[NHACHUA]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACHUA](
	[MANHA] [int] IDENTITY(1,1) NOT NULL,
	[TENNHA] [nvarchar](100) NOT NULL,
	[SUCCHUA] [int] NOT NULL,
	[VITRI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NHACHUA] PRIMARY KEY CLUSTERED 
(
	[MANHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[CMND] [nchar](15) NOT NULL,
	[LUONG] [float] NOT NULL,
	[CALAM] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_NHANVIEN_1] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[PHICONG]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHICONG](
	[CMND] [nchar](15) NOT NULL,
	[MASOBANGLAI] [int] NOT NULL,
	[NGAYCAP] [date] NOT NULL,
 CONSTRAINT [PK_PHICONG_1] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[SOHUU]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOHUU](
	[IDCHU] [int] NOT NULL,
	[MADANGKY] [int] NOT NULL,
	[NGAYBATDAU] [date] NOT NULL,
 CONSTRAINT [PK_SOHUU_1] PRIMARY KEY CLUSTERED 
(
	[IDCHU] ASC,
	[MADANGKY] ASC,
	[NGAYBATDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[BAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_BAOTRI_DICHVUBAOTRI] FOREIGN KEY([MADICHVU])
REFERENCES [dbo].[DICHVUBAOTRI] ([MA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BAOTRI] CHECK CONSTRAINT [FK_BAOTRI_DICHVUBAOTRI]
GO
ALTER TABLE [dbo].[BAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_BAOTRI_MAYBAY] FOREIGN KEY([MADANGKY])
REFERENCES [dbo].[MAYBAY] ([MADANGKY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BAOTRI] CHECK CONSTRAINT [FK_BAOTRI_MAYBAY]
GO
ALTER TABLE [dbo].[CHU]  WITH CHECK ADD  CONSTRAINT [FK_CHU_DOANHNGHIEP1] FOREIGN KEY([MADOANHNGHIEP])
REFERENCES [dbo].[DOANHNGHIEP] ([MA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHU] CHECK CONSTRAINT [FK_CHU_DOANHNGHIEP1]
GO
ALTER TABLE [dbo].[CHU]  WITH CHECK ADD  CONSTRAINT [FK_CHU_NGUOI] FOREIGN KEY([CMND])
REFERENCES [dbo].[NGUOI] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHU] CHECK CONSTRAINT [FK_CHU_NGUOI]
GO
ALTER TABLE [dbo].[CHUYENVE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENVE_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHUYENVE] CHECK CONSTRAINT [FK_CHUYENVE_LOAI]
GO
ALTER TABLE [dbo].[CHUYENVE]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENVE_NHANVIEN1] FOREIGN KEY([CMND])
REFERENCES [dbo].[NHANVIEN] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHUYENVE] CHECK CONSTRAINT [FK_CHUYENVE_NHANVIEN1]
GO
ALTER TABLE [dbo].[CTNHANVIENBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_CTNHANVIENBAOTRI_BAOTRI] FOREIGN KEY([MADANGKY], [MADICHVU], [NGAY])
REFERENCES [dbo].[BAOTRI] ([MADANGKY], [MADICHVU], [NGAY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTNHANVIENBAOTRI] CHECK CONSTRAINT [FK_CTNHANVIENBAOTRI_BAOTRI]
GO
ALTER TABLE [dbo].[CTNHANVIENBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_CTNHANVIENBAOTRI_NHANVIEN] FOREIGN KEY([CMND])
REFERENCES [dbo].[NHANVIEN] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CTNHANVIENBAOTRI] CHECK CONSTRAINT [FK_CTNHANVIENBAOTRI_NHANVIEN]
GO
ALTER TABLE [dbo].[LAI]  WITH CHECK ADD  CONSTRAINT [FK_LAI_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LAI] CHECK CONSTRAINT [FK_LAI_LOAI]
GO
ALTER TABLE [dbo].[LAI]  WITH CHECK ADD  CONSTRAINT [FK_LAI_PHICONG] FOREIGN KEY([CMND])
REFERENCES [dbo].[PHICONG] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LAI] CHECK CONSTRAINT [FK_LAI_PHICONG]
GO
ALTER TABLE [dbo].[MAYBAY]  WITH CHECK ADD  CONSTRAINT [FK_MAYBAY_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MAYBAY] CHECK CONSTRAINT [FK_MAYBAY_LOAI]
GO
ALTER TABLE [dbo].[MAYBAY]  WITH CHECK ADD  CONSTRAINT [FK_MAYBAY_NHACHUA] FOREIGN KEY([MANHA])
REFERENCES [dbo].[NHACHUA] ([MANHA])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[MAYBAY] CHECK CONSTRAINT [FK_MAYBAY_NHACHUA]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_NGUOI] FOREIGN KEY([CMND])
REFERENCES [dbo].[NGUOI] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_NGUOI]
GO
ALTER TABLE [dbo].[PHICONG]  WITH CHECK ADD  CONSTRAINT [FK_PHICONG_NGUOI] FOREIGN KEY([CMND])
REFERENCES [dbo].[NGUOI] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHICONG] CHECK CONSTRAINT [FK_PHICONG_NGUOI]
GO
ALTER TABLE [dbo].[SOHUU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUU_CHU] FOREIGN KEY([IDCHU])
REFERENCES [dbo].[CHU] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUU] CHECK CONSTRAINT [FK_SOHUU_CHU]
GO
ALTER TABLE [dbo].[SOHUU]  WITH CHECK ADD  CONSTRAINT [FK_SOHUU_MAYBAY] FOREIGN KEY([MADANGKY])
REFERENCES [dbo].[MAYBAY] ([MADANGKY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SOHUU] CHECK CONSTRAINT [FK_SOHUU_MAYBAY]
GO



-- CHÈN DỮ LIỆU MẪU--
INSERT [dbo].[BAOTRI] ([MADANGKY], [MADICHVU], [NGAY], [SOGIO], [NOIDUNG]) VALUES (1, 1, CAST(N'2023-05-28' AS Date), 3, N'Bảo Trì Cánh Máy Bay Nhanh')
INSERT [dbo].[BAOTRI] ([MADANGKY], [MADICHVU], [NGAY], [SOGIO], [NOIDUNG]) VALUES (1, 5, CAST(N'2023-07-13' AS Date), 4, N'Bảo Trì Khẩn Cấp')
INSERT [dbo].[BAOTRI] ([MADANGKY], [MADICHVU], [NGAY], [SOGIO], [NOIDUNG]) VALUES (2, 2, CAST(N'2023-05-27' AS Date), 4, N'Bảo Trì Động Cơ Theo Lịch')
SET IDENTITY_INSERT [dbo].[CHU] ON 

INSERT [dbo].[CHU] ([ID], [CMND], [MADOANHNGHIEP]) VALUES (1, N'12345678       ', NULL)
INSERT [dbo].[CHU] ([ID], [CMND], [MADOANHNGHIEP]) VALUES (2, NULL, N'DN01           ')
INSERT [dbo].[CHU] ([ID], [CMND], [MADOANHNGHIEP]) VALUES (3, N'141414         ', NULL)
SET IDENTITY_INSERT [dbo].[CHU] OFF

INSERT [dbo].[CTNHANVIENBAOTRI] ([CMND], [MADANGKY], [MADICHVU], [NGAY]) VALUES (N'111111         ', 1, 5, CAST(N'2023-07-13' AS Date))
INSERT [dbo].[CTNHANVIENBAOTRI] ([CMND], [MADANGKY], [MADICHVU], [NGAY]) VALUES (N'111111         ', 2, 2, CAST(N'2023-05-27' AS Date))
INSERT [dbo].[CTNHANVIENBAOTRI] ([CMND], [MADANGKY], [MADICHVU], [NGAY]) VALUES (N'1214           ', 4, 2, CAST(N'2023-06-06' AS Date))
SET IDENTITY_INSERT [dbo].[DICHVUBAOTRI] ON 

INSERT [dbo].[DICHVUBAOTRI] ([MA], [TENDICHVU]) VALUES (1, N'Bảo Trì Cánh Máy Bay')
INSERT [dbo].[DICHVUBAOTRI] ([MA], [TENDICHVU]) VALUES (2, N'Bảo Trì Động Cơ Máy May')
INSERT [dbo].[DICHVUBAOTRI] ([MA], [TENDICHVU]) VALUES (3, N'Bảo Trì Phần Thân Máy Bay')
SET IDENTITY_INSERT [dbo].[DICHVUBAOTRI] OFF

INSERT [dbo].[DOANHNGHIEP] ([MA], [TEN], [DIACHI], [SDT], [TENDAIDIEN]) VALUES (N'DN01           ', N'Công Ty THHH Xiao Ming', N'Quận 1', N'0123456789          ', N'Đinh Bảo Minh')
INSERT [dbo].[DOANHNGHIEP] ([MA], [TEN], [DIACHI], [SDT], [TENDAIDIEN]) VALUES (N'DN02           ', N'Tập đoàn Giang TD', N'Quận 7, TP.Hồ Chí Minh         ', N'0966932267', N'Lê Vạn Giang')
INSERT [dbo].[DOANHNGHIEP] ([MA], [TEN], [DIACHI], [SDT], [TENDAIDIEN]) VALUES (N'123123123      ', N'Gà Rán Hút Máu', N'Sài Gòn', N'056931225     ', N'Xiao Ming Xian Sheng')

INSERT [dbo].[LAI] ([CMND], [MALOAI]) VALUES (N'12121212       ', 1)
INSERT [dbo].[LAI] ([CMND], [MALOAI]) VALUES (N'12121212       ', 1006)
INSERT [dbo].[LAI] ([CMND], [MALOAI]) VALUES (N'123123123      ', 2)
SET IDENTITY_INSERT [dbo].[LOAI] ON 

INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI], [KIEUDANG], [SUCCHUA], [TRONGLUONG]) VALUES (1, N'Airbus', N'Thương Mại', 100, 1000)
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI], [KIEUDANG], [SUCCHUA], [TRONGLUONG]) VALUES (2, N'Boeing', N'Chiến Đấu', 200, 2000)
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI], [KIEUDANG], [SUCCHUA], [TRONGLUONG]) VALUES (3, N'Fighter', N'Phi cơ', 300, 3000)
SET IDENTITY_INSERT [dbo].[LOAI] OFF
SET IDENTITY_INSERT [dbo].[MAYBAY] ON 

INSERT [dbo].[MAYBAY] ([MADANGKY], [TEN], [MALOAI], [MANHA]) VALUES (1, N'Airbus A380-900', 1, 1)
INSERT [dbo].[MAYBAY] ([MADANGKY], [TEN], [MALOAI], [MANHA]) VALUES (2, N'Boeing 747-8', 2, 2)
INSERT [dbo].[MAYBAY] ([MADANGKY], [TEN], [MALOAI], [MANHA]) VALUES (3, N'VN 002', 4, 3)
SET IDENTITY_INSERT [dbo].[MAYBAY] OFF

INSERT [dbo].[NGUOI] ([CMND], [HOTEN], [DIACHI], [SDT], [ISPHICONG], [ISNHANVIEN]) VALUES (N'111111         ', N'Bruno Fernandes', N'Manchester, England', N'0123456789', 0, 1)
INSERT [dbo].[NGUOI] ([CMND], [HOTEN], [DIACHI], [SDT], [ISPHICONG], [ISNHANVIEN]) VALUES (N'111111123123   ', N'Xiao Ming', N'Hồ Chí Minh', N'0966932267', 0, 0)
INSERT [dbo].[NGUOI] ([CMND], [HOTEN], [DIACHI], [SDT], [ISPHICONG], [ISNHANVIEN]) VALUES (N'12121212       ', N'Lê Vạn Giang', N'Quận 9, TP.Hồ Chí Minh', N'0123456789', 1, 0)
SET IDENTITY_INSERT [dbo].[NHACHUA] ON 

INSERT [dbo].[NHACHUA] ([MANHA], [TENNHA], [SUCCHUA], [VITRI]) VALUES (1, N'Nhà chứa số 1', 100, N'Hướng Nam')
INSERT [dbo].[NHACHUA] ([MANHA], [TENNHA], [SUCCHUA], [VITRI]) VALUES (2, N'Nhà chứa số 2', 200, N'Hướng Bắc')
INSERT [dbo].[NHACHUA] ([MANHA], [TENNHA], [SUCCHUA], [VITRI]) VALUES (3, N'Nhà chứa số 3', 300, N'Hướng Đông')
SET IDENTITY_INSERT [dbo].[NHACHUA] OFF

INSERT [dbo].[NHANVIEN] ([CMND], [LUONG], [CALAM]) VALUES (N'111111         ', 200000000, N'Cả Ngày')
INSERT [dbo].[NHANVIEN] ([CMND], [LUONG], [CALAM]) VALUES (N'1214           ', 10000000, N'Ca Khuya')
INSERT [dbo].[NHANVIEN] ([CMND], [LUONG], [CALAM]) VALUES (N'12344321       ', 500000000, N'Ca Chiều')

INSERT [dbo].[PHICONG] ([CMND], [MASOBANGLAI], [NGAYCAP]) VALUES (N'12121212       ', 22222222, CAST(N'2023-05-24' AS Date))
INSERT [dbo].[PHICONG] ([CMND], [MASOBANGLAI], [NGAYCAP]) VALUES (N'23456789       ', 777777777, CAST(N'2023-05-26' AS Date))
INSERT [dbo].[PHICONG] ([CMND], [MASOBANGLAI], [NGAYCAP]) VALUES (N'123124235      ', 156324622, CAST(N'2023-07-13' AS Date))

INSERT [dbo].[SOHUU] ([IDCHU], [MADANGKY], [NGAYBATDAU]) VALUES (1, 1, CAST(N'2023-05-27' AS Date))
INSERT [dbo].[SOHUU] ([IDCHU], [MADANGKY], [NGAYBATDAU]) VALUES (2, 1, CAST(N'2023-05-27' AS Date))
INSERT [dbo].[SOHUU] ([IDCHU], [MADANGKY], [NGAYBATDAU]) VALUES (6, 3, CAST(N'2023-05-27' AS Date))


/****** Object:  View [dbo].[V_HOTEN_CMND_CHU]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_HOTEN_CMND_CHU]
AS
select HOTEN, CMND from nguoi where ISPHICONG = 0 and ISNHANVIEN = 0
GO

/****** Object:  View [dbo].[V_HOTEN_CMND_NHANVIEN]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_HOTEN_CMND_NHANVIEN]
AS
  select HOTEN, P.CMND FROM NHANVIEN P, NGUOI N WHERE P.CMND = N.CMND
GO

/****** Object:  View [dbo].[V_HOTEN_CMND_PHICONG]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_HOTEN_CMND_PHICONG]
AS
select HOTEN, P.CMND from PHICONG P, NGUOI N WHERE P.CMND = N.CMND
GO

/****** Object:  View [dbo].[V_HOTEN_ID_CHU]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_HOTEN_ID_CHU]
	AS
	select TEN=C.CMND+' - '+HOTEN, ID from chu c, NGUOI n where c.CMND = n.CMND
GO

/****** Object:  View [dbo].[V_MALOAI_TENLOAI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_MALOAI_TENLOAI]
AS
	select MALOAI,TENLOAI from LOAI
GO

/****** Object:  View [dbo].[V_MANHA_TENNHA]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_MANHA_TENNHA]
AS
	select MANHA,TENNHA from NHACHUA
GO

/****** Object:  View [dbo].[V_TEN_MA_DICHVU]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TEN_MA_DICHVU]
AS
SELECT TENDICHVU, MA FROM DICHVUBAOTRI
GO

/****** Object:  View [dbo].[V_TENDN_ID_CHU]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TENDN_ID_CHU]
	AS
	select TEN=MA+' - '+TEN, ID from chu C, DOANHNGHIEP DN where c.MADOANHNGHIEP = DN.MA
GO
/****** Object:  View [dbo].[V_TENMAYBAY_MADK]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TENMAYBAY_MADK]
	AS
	select TEN, MADANGKY from MAYBAY
GO



/****** Object:  StoredProcedure [dbo].[BACK_UP_DATABASE]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BACK_UP_DATABASE]
AS
BEGIN
-- Backup Dữ liệu database
	BACKUP DATABASE QLSB
	TO DISK = 'D:\Microsoft SQL\QLSB.bak'
	WITH FORMAT, INIT;
END
GO

/****** Object:  StoredProcedure [dbo].[SP_CHECK_CMND]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_CMND]
@CMND NCHAR(20)
AS
BEGIN
-- Kiểm tra CMND có tồn tại trong table NGUOI hay không?
	IF EXISTS(SELECT * FROM NGUOI WHERE CMND=@CMND)
		RETURN 1
end
GO

/****** Object:  StoredProcedure [dbo].[SP_CHECK_CMND_MALOAI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_CMND_MALOAI]
@CMND NCHAR(20),
@MALOAI int
AS
BEGIN
-- Kiểm tra Phi công đã  Lái Loại máy bay hay không?
	IF EXISTS(SELECT * FROM LAI WHERE CMND=@CMND AND MALOAI = @MALOAI)
		RETURN 1
end
GO

/****** Object:  StoredProcedure [dbo].[SP_CHECK_MADN]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_MADN]
@MADN NCHAR(20)
AS
BEGIN
-- Kiểm tra Mã doanh nghiệp có tồn tại hay không?
	IF EXISTS(SELECT * FROM DOANHNGHIEP WHERE MA=@MADN)
		RETURN 1
end
GO

/****** Object:  StoredProcedure [dbo].[SP_CHUMAYBAY_DOANHNGHIEP]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHUMAYBAY_DOANHNGHIEP]
AS
BEGIN
-- Truy vấn đến Chủ máy bay là Doanh nghiệp
SELECT ID, C.MADOANHNGHIEP, TEN, DIACHI, SDT, TENDAIDIEN FROM CHU C, DOANHNGHIEP D WITH(INDEX(INDEX_TEN_DOANHNGHIEP)) WHERE C.MADOANHNGHIEP = D.MA
END
GO

/****** Object:  StoredProcedure [dbo].[SP_CHUMAYBAY_NGUOI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHUMAYBAY_NGUOI]
AS
BEGIN
-- Truy vấn đến Chủ máy bay là Người
SELECT ID, C.CMND, HOTEN, DIACHI, SDT  FROM CHU C, NGUOI N WITH(INDEX(INDEX_HOTEN_NGUOI)) WHERE C.CMND = N.CMND
END
GO

/****** Object:  StoredProcedure [dbo].[SP_DANHSACH_LAI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANHSACH_LAI]
AS
BEGIN
-- Lấy ra Danh sách phi công
DECLARE @PHICONG TABLE(CMND NCHAR(20), HOTEN NVARCHAR(50), SDT NCHAR(20), DIACHI NVARCHAR(100), MASOBANGLAI NCHAR(20), NGAYCAP DATE)
INSERT INTO @PHICONG EXEC SP_DANHSACH_PHICONG

-- Truy vấn đến Danh sách phi công Lái Loại máy bay
SELECT P.CMND, HOTEN,MASOBANGLAI, L.MALOAI, TENLOAI
FROM @PHICONG P, LAI , LOAI L
WHERE P.CMND = LAI.CMND AND L.MALOAI = LAI.MALOAI
END
GO

/****** Object:  StoredProcedure [dbo].[SP_DANHSACH_NHANVIEN]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANHSACH_NHANVIEN]
AS
BEGIN
-- Truy vấn đến danh sách nhân viên
select N.CMND, HOTEN, SDT, DIACHI, LUONG, CALAM from NGUOI N WITH(INDEX(INDEX_HOTEN_NGUOI)), NHANVIEN NV WHERE N.CMND  = NV.CMND 
END
GO

/****** Object:  StoredProcedure [dbo].[SP_DANHSACH_PHICONG]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANHSACH_PHICONG]
AS
BEGIN
-- Truy vấn đến Danh sách Phi công
select N.CMND, HOTEN, SDT, DIACHI, MASOBANGLAI, NGAYCAP from NGUOI N WITH(INDEX(INDEX_HOTEN_NGUOI)), PHICONG PC WHERE N.CMND  = PC.CMND
END
GO

/****** Object:  StoredProcedure [dbo].[SP_DOIMATKHAU]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DOIMATKHAU]
@MatKhauCu nchar(20),
@MatKhauMoi nchar(20),
@TenLogin nchar(30)
AS
BEGIN
-- Đổi mật khẩu
EXEC sp_password @MatKhauCu, @MatKhauMoi, @TenLogin
END
GO

/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_DN_Tu_Login]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_DN_Tu_Login]
@TENLOGIN NVARCHAR( 100)
AS
-- Lấy ra Thông tin đăng nhập từ tên Login
DECLARE @UID INT
DECLARE @MAGV NVARCHAR(100)
SELECT @UID= uid , @MAGV= NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT CMND= @MAGV, 
       HOTEN = (SELECT HOTEN FROM dbo.NGUOI WHERE CMND=@MAGV ), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT top 1 groupuid FROM sys.sysmembers WHERE memberuid=@uid)
GO

/****** Object:  StoredProcedure [dbo].[SP_NHANVIEN_BAOTRI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NHANVIEN_BAOTRI]
@CMND nchar(20)
AS
BEGIN
-- Lấy ra các Đợt bảo trì đang được chỉ định của nhân viên đã đăng nhập
SELECT 
TENMAYBAY = (SELECT TEN FROM MAYBAY WHERE MADANGKY = B.MADANGKY),
TENDICHVU = (SELECT TENDICHVU FROM DICHVUBAOTRI WHERE MA = B.MADICHVU),
B.NGAY,
SOGIO,
NOIDUNG
FROM CTNHANVIENBAOTRI C, BAOTRI B
WHERE C.CMND = @CMND AND B.MADANGKY = C.MADANGKY AND B.MADICHVU = C.MADICHVU AND B.NGAY = C.NGAY
END
GO

/****** Object:  StoredProcedure [dbo].[SP_PHICONG_LAI_MAYBAY]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PHICONG_LAI_MAYBAY]
@CMND nchar(20)
AS
BEGIN
-- Truy vấn đến tất cả các Máy bay có thể lái của phi công đã đăng nhập 
select 
MADANGKY, TEN,
M.MALOAI,TENLOAI = (SELECT TENLOAI FROM LOAI WHERE LOAI.MALOAI = M.MALOAI)
, MANHA ,
TENNHACHUA= (SELECT TENNHA FROM NHACHUA N WHERE N.MANHA = M.MANHA)
from LAI, MAYBAY M 
where LAI.CMND = @CMND AND LAI.MALOAI = M.MALOAI
END
GO

/****** Object:  StoredProcedure [dbo].[SP_SOHUU_DOANHNGHIEP]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SOHUU_DOANHNGHIEP]
AS
BEGIN
-- Lấy ra Danh sách doanh nghiệp
DECLARE @DOANHNGHIEP TABLE(ID INT, MADN NCHAR(20), TEN NVARCHAR(50), DIACHI NVARCHAR(100), SDT NCHAR(20), TENDAIDIEN NVARCHAR(50))
INSERT INTO @DOANHNGHIEP EXEC SP_CHUMAYBAY_DOANHNGHIEP

-- Lấy ra Danh sách Máy bay mà các doanh nghiệp đang sở hữu
SELECT S.IDCHU, S.MADANGKY, M.TEN, MADN, DN.TEN, NGAYBATDAU
FROM @DOANHNGHIEP DN, SOHUU S, MAYBAY M
WHERE S.IDCHU = DN.ID AND S.MADANGKY = M.MADANGKY
END
GO

/****** Object:  StoredProcedure [dbo].[SP_SOHUU_NGUOI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SOHUU_NGUOI]
AS
BEGIN
-- Lấy ra Danh sách chủ là người
DECLARE @NGUOI TABLE(ID INT, CMND NCHAR(20), TEN NVARCHAR(50), DIACHI NVARCHAR(100), SDT NCHAR(20))
INSERT INTO @NGUOI EXEC SP_CHUMAYBAY_NGUOI

-- Lấy ra Danh sách Máy bay mà chủ là người đang sở hữu
SELECT S.IDCHU, S.MADANGKY, M.TEN, CMND, N.TEN, NGAYBATDAU
FROM @NGUOI N, SOHUU S, MAYBAY M
WHERE S.IDCHU = N.ID AND S.MADANGKY = M.MADANGKY
END
GO

/****** Object:  StoredProcedure [dbo].[SP_SUA_CHU_DOANHNGHIEP]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Sửa Thông tin Doanh nghiệp
CREATE proc [dbo].[SP_SUA_CHU_DOANHNGHIEP]
@MaDN nchar(20),
@Ten nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@TenDaiDien nvarchar(50)
AS
begin
UPDATE DOANHNGHIEP SET MA=@MaDN, TEN=@Ten, DIACHI = @DiaChi, SDT=@Sdt, TENDAIDIEN = @TenDaiDien WHERE MA = @MaDN
end
GO

/****** Object:  StoredProcedure [dbo].[SP_SUA_CHU_NGUOI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Sửa Thông tin Chủ là người
CREATE proc [dbo].[SP_SUA_CHU_NGUOI]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20)
AS
begin
UPDATE NGUOI SET HOTEN=@HoTen, DIACHI = @DiaChi, SDT=@Sdt WHERE CMND = @CMND
end
GO

/****** Object:  StoredProcedure [dbo].[SP_SUA_NHANVIEN]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SUA_NHANVIEN]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@Luong float,
@CaLam nvarchar(30)
AS
begin
-- Sửa Thông tin Nhân viên(Vì Nhân viên đang thuộc 2 bảng NGUOI và NHANVIEN)
UPDATE NGUOI SET HOTEN=@HoTen, DIACHI = @DiaChi, SDT=@Sdt WHERE CMND = @CMND
UPDATE NHANVIEN SET LUONG=@Luong, CALAM = @CaLam WHERE CMND = @CMND
end
GO

/****** Object:  StoredProcedure [dbo].[SP_SUA_PHICONG]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SUA_PHICONG]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@MaSoBangLai nvarchar(20),
@NgayCap date
AS
begin
-- Sửa Thông tin Phi công (Vì Phi công đang thuộc 2 bảng NGUOI và PHICONG)
UPDATE NGUOI SET HOTEN=@HoTen, DIACHI = @DiaChi, SDT=@Sdt WHERE CMND = @CMND
UPDATE PHICONG SET MASOBANGLAI=@MaSoBangLai, NGAYCAP = @NgayCap WHERE CMND = @CMND
end
GO

/****** Object:  StoredProcedure [dbo].[SP_TAIKHOAN_NHANVIEN]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAIKHOAN_NHANVIEN]
@CMND NCHAR(20)
AS
BEGIN
-- Lấy ra Thông tin đăng nhập của Nhân viên 
SELECT NV.CMND, HOTEN, SDT, DIACHI, LUONG, CALAM
FROM NHANVIEN NV, NGUOI N 
WHERE NV.CMND = @CMND AND N.CMND = NV.CMND
END
GO

/****** Object:  StoredProcedure [dbo].[SP_TAIKHOAN_PHICONG]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAIKHOAN_PHICONG]
@CMND NCHAR(20)
AS
BEGIN
-- Lấy ra thông tin đăng nhập của Phi công 
SELECT P.CMND, HOTEN, MASOBANGLAI, NGAYCAP, SDT, DIACHI 
FROM PHICONG P, NGUOI N 
WHERE P.CMND = @CMND AND N.CMND = P.CMND
END
GO

/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  -- Tạo login -> tạo user -> thêm user vào role
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLSB'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
    RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  if(@ROLE = 'CHUMAYBAY')
		EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
		EXEC sp_addsrvrolemember @LGNAME, 'dbcreator'
RETURN 0  -- THANH CONG
GO

/****** Object:  StoredProcedure [dbo].[SP_THEM_CHU_DOANHNGHIEP]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THEM_CHU_DOANHNGHIEP]
@MaDN nchar(20),
@Ten nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@TenDaiDien nvarchar(50)
AS
BEGIN
-- Thêm Doanh Nghiệp => Thêm chủ là Doanh nghiệp
insert into DOANHNGHIEP VALUES(@MaDN, @Ten, @DiaChi, @Sdt, @TenDaiDien)
insert into CHU(MADOANHNGHIEP) VALUES(@MaDN)
END
GO

/****** Object:  StoredProcedure [dbo].[SP_THEM_CHU_NGUOI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_CHU_NGUOI]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20)
AS
BEGIN
-- Thêm Người => Thêm Chủ (Mặc định Chủ có 2 thuộc tính isPhiCong = 0 và isNhanVien = 0)
insert into NGUOI VALUES(@CMND, @HoTen, @DiaChi, @Sdt, 0, 0)
insert into CHU(CMND) VALUES(@CMND)
END
GO

/****** Object:  StoredProcedure [dbo].[SP_THEM_NHANVIEN]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_NHANVIEN]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@Luong float,
@CaLam nvarchar(50)
AS
BEGIN
-- Thêm Người => Thêm Nhân viên (Mặc định Nhân viên có thuộc tính isNhanVien = 1)
insert into NGUOI VALUES(@CMND, @HoTen, @DiaChi, @Sdt, 0, 1)
insert into NHANVIEN VALUES(@CMND, @Luong, @CaLam)
END
GO

/****** Object:  StoredProcedure [dbo].[SP_THEM_PHICONG]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_PHICONG]
@CMND nchar(20),
@HoTen nvarchar(70),
@DiaChi nvarchar(100),
@Sdt nchar(20),
@MaSoBangLai nvarchar(20),
@NgayCap date
AS
BEGIN
-- Thêm Người => Thêm Phi công (Mặc định Phi công có thuộc tính isPhiCong = 1)
insert into NGUOI VALUES(@CMND, @HoTen, @DiaChi, @Sdt, 1, 0)
insert into PHICONG VALUES(@CMND, @MaSoBangLai, @NgayCap)
END
GO

/****** Object:  StoredProcedure [dbo].[SP_XOA_CHU_DOANHNGHIEP]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_CHU_DOANHNGHIEP]
@MaDN nchar(20)
AS
BEGIN
-- Xóa Chủ trước => Xóa Doanh nghiệp
delete CHU WHERE MADOANHNGHIEP = @MaDN
delete DOANHNGHIEP WHERE MA = @MaDN
END
GO

/****** Object:  StoredProcedure [dbo].[SP_XOA_CHU_NGUOI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_CHU_NGUOI]
@CMND nchar(20)
AS
BGIN
-- Xóa Chủ => Xóa Người
delete CHU WHERE CMND = @CMND
delete NGUOI WHERE CMND = @CMND
END
GO

/****** Object:  StoredProcedure [dbo].[SP_XOA_LAI]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_LAI]
@CMND nchar(20),
@MaLoai int
AS
BEGIN
-- Hủy Phi công được chỉ định lái Loại máy bay
	DELETE LAI WHERE CMND = @CMND AND MALOAI = @MaLoai
END
GO

/****** Object:  StoredProcedure [dbo].[SP_XOA_NHANVIEN]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_NHANVIEN]
@CMND nchar(20)
AS
BEGIN
-- Xóa Nhân viên => Xóa người
delete NHANVIEN WHERE CMND = @CMND
delete NGUOI WHERE CMND = @CMND
END
GO

/****** Object:  StoredProcedure [dbo].[SP_XOA_PHICONG]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_PHICONG]
@CMND nchar(20)
AS
BEGIN
-- Xóa Phi công -> Xóa người
delete PHICONG WHERE CMND = @CMND
delete NGUOI WHERE CMND = @CMND
END
GO

/****** Object:  StoredProcedure [dbo].[SP_XOA_SOHUU]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_SOHUU]
@IdChu int,
@MaDK int
AS
BEGIN
-- Hủy Người chủ không được sở hữu máy bay nữa!
	DELETE SOHUU WHERE IDCHU = @IdChu AND MADANGKY = @MaDK
END
GO



/****** Object:  UserDefinedFunction [dbo].[FC_CHECK_CMND]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FC_CHECK_CMND]
(@CMND NCHAR(20)) 
RETURNS INT
AS
BEGIN
	DECLARE @RES INT;
	SET @RES = 0;
	IF EXISTS(SELECT * FROM NGUOI WHERE CMND=@CMND)
		SET @RES = 1;
	RETURN @RES;
END;
GO

/****** Object:  UserDefinedFunction [dbo].[FC_CHECK_MADN]    Script Date: 06/06/2023 4:31:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FC_CHECK_MADN]
(@MADN NCHAR(20)) 
RETURNS INT
AS
BEGIN
	DECLARE @RES INT;
	SET @RES = 0;
	IF EXISTS(SELECT * FROM DOANHNGHIEP WHERE MA=@MADN)
		SET @RES = 1;
	RETURN @RES;
END;
GO